body {
    font-family: 'Lato', sans-serif;
    color: #333;
}
.container {
    max-width: 1020px;
}
.product {
    padding: 50px 10px 50px 18px;
}
.product h1 {
    font-size: 2rem;
    font-weight: 600;
}
.product .lead {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8rem;
}
.footer {
    margin-top: 250px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: transparent;
}
.btn-primary {
    padding: 0;
    padding-right: 30px;
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
    outline: none;
    border-radius: 50px;
    font-weight: 700;
    color: white;
    position: relative;
    text-decoration: none !important;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #ec3a3a;
    border-color: #ec3a3a;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #000;
    border-color: #000;
    color: white;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    color: white;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.logo {
    width: 100px;
}
#about-us {
    background: #f7f7f7 !important;
    border-radius: 3px;
    padding: 15px 85px;
    margin-top: 50px;
}

.studio-pic {
    max-width: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#contact-us.container {
    max-width: 450px;
    margin-top: 50px;
}